.vscode
.idea

temp

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*

docker-compose.yml
Dockerfile
.dockerignore

**/.git
**/.gitignore
**/.gitattributes
**/.gitkeep

README.md
LICENSE

.eslint*

.prettier*